@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161B7F;
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #887cb7;
}

.container {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;

}

.container .contactInfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #410a85;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0, 20px, 25px rgba(0, 0, 0, 0.15);
}

.container .contactInfo h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    margin-left: 15px;
}

.container .contactInfo ul.info {
    position: relative;
    margin: 20px 0;
}

.container .contactInfo ul.info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.container .contactInfo ul.info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}

.container .contactInfo ul.info li span:nth-child(1) img {
    max-width: 100%;
    filter: invert(1);
}

.container .contactInfo ul.info li span:nth-child(2) {
    color: #ffffff;
    margin-left: 10px;
    font-weight: 300;
}

.container .contactInfo ul.sci {
    position: relative;
    display: flex;
}

.container .contactInfo ul.sci li {
    list-style: none;
    margin-right: 15px;
}

.container .contactInfo ul.sci li a {
    text-decoration: none;

}

.container .contactInfo ul.sci li a img {
    filter: invert(1);
}

.container .contactForm {
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #ffffff;
    box-shadow: 0, 20px, 25px rgba(0, 0, 0, 0.25);

}

.container .contactForm h2 {
    color: #9440e8;
    font-size: 28px;
    font-weight: 500;
}

.container .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.container .contactForm .formBox .inputBox {
    position: relative;
    margin-bottom: 35px;
}

.container .contactForm .formBox .inputBox.w50 {
    width: 47%;

}

.container .contactForm .formBox .inputBox.w100 {
    width: 100%;
}

.container .contactForm .formBox .inputBox input,
.container .contactForm .formBox .inputBox textarea {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}

.container .contactForm .formBox .inputBox textarea {
    height: 120px;
}

.container .contactForm .formBox .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
    color: #777;
}

.container .contactForm .formBox .inputBox input:focus~span,
.container .contactForm .formBox .inputBox input:valid~span,
.container .contactForm .formBox .inputBox textarea:focus~span,
.container .contactForm .formBox .inputBox textarea:valid~span {
    transform: translateY(-20px);
    font-size: 14px;
    color: #6e27d9;
}

.container .contactForm .formBox .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: #8027d9;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    max-width: 150px;
    padding: 12px;
}

.container .contactForm .formBox .inputBox input[type="submit"]:hover {
    background: #41127f;
    cursor: pointer;
    transform: scale(1.1);
}

@media (max-width:1200px) {
    .container {
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px rgb(0, 0, 0, 0.20s);
    }

    .contactInfo .contactInfo {
        top: 0;
        height: 500px;
        position: relative;
        box-shadow: none;
    }

    .container .contactForm {
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
    }
}

@media (max-width : 991px) {
    section {
        background: #4640e8;
    }

    section ::before {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .container .contactForm {
        width: 100%;
        height: auto;
    }

    .container .contactInfo {
        width: 100%;
        height: auto;
        flex-direction: row;
    }

    .container .contactInfo ul.sci {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width : 600px) {
    .container .contactForm {
        padding: 25px;
    }

    .container .contactInfo {
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    .container .contactInfo ul.sci{
        margin-top: 40px;
    }
    .container .contactForm .formBox .inputBox.w50 {
        width: 100%;
    }
}
.backButton {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}
.btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
